.odd-num {
    background-color: rgb(212, 113, 138);
    font-family: Verdana, DejaVu sans, sans-serif;
}

#even1 {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.unique1 {
    font-size: 24px;
}

#even2 {
    background-color: rgb(0, 128, 0);
    font-size: 24px;
}