body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  display: flex;
  background: pink;
  border: 4px solid blue;
  /* CHANGE ME */
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 4px solid purple;
  /* CHANGE ME */
  margin: 0px;
  
}

.three {
  display: flex;
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;
  margin: 50px;
  margin-left: 330px;
}