body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.small-para.small-para {
  /*added .small-para to specify which element*/
  font-size: 14px;
/*removed the font-weight because it alread declared in the code 8*/
}

.para {
  font-size: 22px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  font-size: 20px;
}

.button.cancel {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /* removed font-size added it to a shared element .button*/
}

.text.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

.text {
  /* make this less specific to be surpassed by the */
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
